<%= form_for(@shipment) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :shipped %><br />
    <%= f.check_box :shipped %>
  </div>
  <div class="field">
    <%= f.label :shipment_date %><br />
    <%= f.date_select :shipment_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
